.cardstyle{
    width: 25%;
    background: #fff;
   margin-top: 70px;  

}

.logcenter{
    justify-content: center;
     
    display: flex;

}

.labelstyle{
      font-size: small;
      font-weight: 700;
}
/* .inputstyle{
    justify-content: center;
    align-items: center;
    margin-right: 50px;
} */

.card-text{
    font-size:11px;
    font-weight: 600;
    color: rgb(80, 76, 76);
}

.linkstyle{
    color: blue;
    margin-left: 2px;
    margin-right: 2px;
}

.inputmargin{
    margin-right: 25px;
}

.logdiv{
   
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
     
    
}

.logbtn{
     font-size: small;
    font-weight:500;
    margin-left: 2px;
     padding-left: 100px;
    padding-right: 50px;
    padding: 8px;
background-color: rgb(235, 231, 228);
    align-items: center;
     
    border-color: rgb(180, 178, 176); 
}